.albumCardWrapper {
  width: 100%;
  cursor: pointer;
  overflow-x: hidden;
}

.albumCardImgWrapper {
  border-radius: 7px;
  position: relative;
  background: rgb(236, 234, 233);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.342);
}

.albumCardImgWrapper:after {
  content: '';
  display: block;
  padding-top: 60%;
}

.albumCardImgWrapper img {
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.albumCardImgWrapper .newIndicator {
  position: absolute;
  z-index: 3;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background: rgb(233, 51, 51);
}

.albumCardInfo {
  margin-top: .1rem;
  padding: .1rem;
}

.albumCardInfo .title {
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.albumCardInfo p {
  color: rgb(18, 117, 121);
  margin-top: .15rem;
  font-size: .85rem;
  font-style: italic;
}

.albumCardInfo .reviewedBy {
  color: black;
  opacity: .7;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}