.albumListWrapper {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .7rem;
}

/* .albumListWrapper.reviews {
  grid-template-columns: 1fr;
} */

/* @media screen and (min-width: 1200px) {
  .albumListWrapper.reviews {
    grid-template-columns: 1fr 1fr;
  }
} */