.createAlbumWrapper {
  margin-top: .5rem;
  display: flex;
  width: 100%;
  border-radius: 10px;
}

.createAlbumWrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.createAlbumWrapper .inputWrapper {
  display: flex;
  margin-top: .5rem;
  border-radius: 10px;
}

.createAlbumWrapper label {
  font-size: 1.1rem;
}

.selectionControlWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectionControlWrapper div {
  margin: .3rem 0 .3rem 0;
  display: flex;
  gap: .5rem;
}

.selectionControlWrapper .selectionBtn {
  border: none;
  font-size: .9rem;
  background: none;
  color: rgb(18, 117, 121);
  cursor: pointer;
}

.inputWrapper input {
  background: whitesmoke;
  flex: 1;
  padding: .7rem;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
}

.inputWrapper button {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  background: rgb(26, 147, 151);
  border: none;
  width: 10%;
  margin-left: .5rem;
  min-width: 50px;
  max-width: 90px;
  height: 100%;
  border-radius: 5px;
}

@media screen and (min-width: 650px) {
  .selectionControlWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 0 0rem 0;
  }
}