.createAlbumWrapper {
  margin-top: .5rem;
  display: flex;
  width: 100%;
  border-radius: 10px;
}

.createAlbumWrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  display: flex;
  margin-top: .5rem;
  border-radius: 10px;
}

.createAlbumWrapper label {
  margin-left: .2rem;
  font-size: 1.2rem;
}

.inputWrapper input {
  background: whitesmoke;
  flex: 1;
  padding: .7rem;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
}

.inputWrapper button {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  background: rgb(26, 147, 151);
  border: none;
  width: 10%;
  margin-left: .5rem;
  min-width: 50px;
  height: 100%;
  border-radius: 5px;
}