.homeWrapper {
  position: relative;
  height: 95vh;
  width: 100%;
  padding: 0 .5rem;
}

.heroWrapper {
  width: 100%;
  height: 100%;
}

.heroWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}