@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbarWrapper {
  z-index: 2000;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  background: rgb(25, 25, 26);
  border-bottom: 1px solid rgba(0, 0, 0, 0.747);
  height: 12vh;
  max-height: 52px;
  padding: 0 1rem;
  color: rgb(208, 230, 227);
}

.signInBtn {
  color: rgb(208, 230, 227);
  background: none;
  border: none;
  font-size: .95rem;
}

.navbarWrapper i {
  margin-right: .5rem;
}

.logoLink {
  font-size: clamp(.9rem, calc(.8rem + 2.2vh), 1.3rem);
  color: rgb(208, 230, 227);
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  margin-bottom: .3rem;
}

.navItems {
  display: flex;
  gap: .9rem;
}

.navItems * {
  color: rgb(208, 230, 227);
  background: none;
  border: none;
  font-size: clamp(.7rem, calc(.8rem + .5vh), 1rem);
  text-decoration: none;
}

.navItems *:hover {
  color: rgb(234, 241, 240);
}

@media screen and (min-width: 600px) {
  .logoLink {
    font-size: clamp(.9rem, calc(.8rem + 2.5vh), 1.6rem);
  }

  .navItems * {
    font-size: clamp(.75rem, calc(.8rem + .7vh), 1.1rem);
  }
}