.navbarWrapper {
  z-index: 2000;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  background: rgb(41, 47, 49);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  height: 6vh;
  min-height: 35px;
  max-height: 40px;
  padding: 0 1rem;
  color: rgb(208, 230, 227);
}

.signInBtn {
  color: rgb(208, 230, 227);
  background: none;
  border: none;
  font-size: .95rem;
}

.logoLink {
  font-size: clamp(.7rem, calc(.6rem + 2.5vh), 1.25rem);
  color: rgb(208, 230, 227);
  text-decoration: none;
}

.navbarUserWrapper {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.navbarUser {
  z-index: 1;
  background: rgb(41, 47, 49);
  color: rgb(208, 230, 227);
  position: relative;
  font-size: .9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .4rem;
  padding: .3rem .7rem;
  border: 1px solid rgb(130, 141, 140);
  border-radius: 5px;
}

.navbarUser i {
  font-size: 1.05rem;
  position: relative;
  top: 1px;
}

.navbarUser p {
  text-align: left;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdownMenu {
  padding: .5rem .7rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background: rgb(41, 47, 49);
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgb(130, 141, 140);
  transform: translateY(97%);
}

.menuItem {
  background: none;
  border: none;
  text-align: left;
  font-size: .95rem;
  color: rgb(208, 230, 227);
  text-decoration: none;
  font-weight: 400;
}

.menuItem:hover {
  color: rgb(240, 245, 244);
}