/* PHOTO LIST */
.listWrapper .selectionBtn {
  padding: .4rem;
  margin-top: 0rem;
  border-radius: 5px;
  margin-right: .5rem;
  border: 1px solid black;
}

.photoListWrapper {
  margin-top: 1rem;
  background: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
  gap: .7rem;
  border-radius: 10px;
}


/* MEDIA QUERIES FOR LIST */
@media screen and (min-width: 360px) {
  .photoListWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 650px) {
  .photoListWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .photoListWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* PHOTO CARD */
.photoCardWrapper {
  width: 100%;
  cursor: pointer;
  overflow-x: hidden;
}

.photoCardWrapper.isDeletingPhoto {
  opacity: .5;
  pointer-events: none;
}

.photoCardImgWrapper {
  position: relative;
  background: rgb(236, 234, 233);
  width: 100%;
  border-radius: 5px;
}

.photoCardImgWrapper:after {
  content: '';
  display: block;
  padding-top: 60%;
}

.photoCardImgWrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid whitesmoke;
}

.photoCardInfo {
  padding: .1rem;
  margin-top: .3rem;
  width: 100%;
}

.photoCardInfo .title {
  font-weight: 400;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.photoCardInfo p {
  margin-top: .2rem;
  font-size: .8rem;
  font-style: italic;
  color: rgb(18, 117, 121);
}

.choiceMark {
  position: absolute;
  bottom: 5px;
  z-index: 5;
  font-size: 1.4rem;
  right: 5px;
  display: flex;
  gap: .4rem;
  text-shadow: 0 0 5px black;
}

.choiceMark .approve {
  color: rgb(95, 196, 95);
}

.choiceMark .reject {
  color: rgb(233, 17, 17);
}

.photoCardImgWrapper img.chosenImg {
  border: 2px solid rgb(43, 182, 43);
}

.dim {
  opacity: .8;
  filter: saturate(40%);
}

.photoCardImgWrapper img.dimImg {
  opacity: .6;
  filter: brightness(75%);
  border: 2px solid rgb(252, 14, 14);
}

.deletePhoto {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  top: 7px;
  right: 7px;
}

.deletePhoto i {
  text-shadow: 0 0 3px black;
}

.photoCheckBox {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin-bottom: .3rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoCheckBox i {
  font-size: .85rem;
  line-height: 0;
}