.dropzoneWrapper {
  background: rgba(190, 217, 218, 0.123);
	border-radius: 4px;
	border: 2px dashed rgba(84, 139, 141, 0.507);
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 2.5rem 2rem;
	text-align: center;
  position: relative;
}

.dropzoneWrapper p {
  margin-bottom: 0;
  color: rgba(11, 84, 87, 0.863);
}

.dragAccept {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.dragReject {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}