/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgb(188, 194, 197);
  overflow-y: scroll;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 0 auto;
  padding-top: min(15vh, 50px);
  padding-bottom: 110px;
  min-height: 100vh;
}

button {
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:disabled {
  opacity: .5;
}

/* PROGRESS BAR */

.progress {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  width: 90%;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}

.bg-success {
  opacity: 1;
  background-color: rgb(44, 128, 44) !important;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width .6s ease;
}

.progress-bar-striped {
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
}


